<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Dashboard - Foodie</title>
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT"
      crossorigin="anonymous"
    />
  </head>
  <body>
    <nav class="navbar navbar-expand-lg bg-light">
      <div class="container-fluid">
        <a class="navbar-brand" href="/">Foodie</a>
        <button
          class="navbar-toggler"
          type="button"
          data-bs-toggle="collapse"
          data-bs-target="#navbarSupportedContent"
          aria-controls="navbarSupportedContent"
          aria-expanded="false"
          aria-label="Toggle navigation"
        >
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            <li class="nav-item">
              <a
                class="nav-link active"
                aria-current="page"
                href="/admin/dashboard"
                >Home</a
              >
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/admin/add">Add Product</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/admin/display">View Products</a>
            </li>
            <li class="nav-item dropdown">
              <a
                class="nav-link dropdown-toggle"
                href="#"
                role="button"
                data-bs-toggle="dropdown"
                aria-expanded="false"
              >
                Others
              </a>
              <ul class="dropdown-menu">
                <li>
                  <a class="dropdown-item" href="/admin/addCat">Add Category</a>
                </li>
                <li>
                  <a class="dropdown-item" href="/admin/addSubCat"
                    >Add Sub-Category</a
                  >
                </li>
                <li><hr class="dropdown-divider" /></li>
                <li>
                  <a class="dropdown-item" href="/admin/deleteCat"
                    >Delete Category</a
                  >
                </li>
                <li>
                  <a class="dropdown-item" href="/admin/deleteSubCat"
                    >Delete Sub-Category</a
                  >
                </li>
              </ul>
            </li>
          </ul>
          <form class="d-flex" role="search">
            <button class="btn btn-outline-success" type="submit">
              <a
                href="/admin/signout"
                style="text-decoration: none; color: inherit"
                >Sign Out</a
              >
            </button>
          </form>
        </div>
      </div>
    </nav>

    <div class="container my-3">
      <div class="row">
        <h3 style="text-decoration: underline">
          Hello, <%= admin.adminname %>
        </h3>
      </div>
    </div>

    <div class="container my-3">
      <div class="row" id="searchProduct">
        <div
          class="card my-3"
          id="productCard"
          style="width: 24rem; padding: 8px; margin: auto"
        >
          <div
            style="
              display: flex;
              justify-content: flex-end;
              position: absolute;
              right: 0;
            "
          ></div>
          <div>
            <div class="card-body">
              <h5 class="card-title">Total Available Categories</h5>
              <h3
                class="card-text"
                style="margin-top: 18px; margin-bottom: 24px"
              >
                <%= result[0][0].countCategory %>
              </h3>
              <a href="/admin/addCat" class="btn btn-primary"
                >Add More Categories</a
              >
            </div>
          </div>
        </div>
        <div
          class="card my-3"
          id="productCard"
          style="width: 24rem; padding: 8px; margin: auto"
        >
          <div
            style="
              display: flex;
              justify-content: flex-end;
              position: absolute;
              right: 0;
            "
          ></div>
          <div>
            <div class="card-body">
              <h5 class="card-title">Total Available Sub-Categories</h5>
              <h3
                class="card-text"
                style="margin-top: 18px; margin-bottom: 24px"
              >
                <%= result[1][0].countSubCategory %>
              </h3>
              <a href="/admin/addSubCat" class="btn btn-primary"
                >Add More Sub-Categories</a
              >
            </div>
          </div>
        </div>
      </div>
      <div class="row" id="searchProduct">
        <div
          class="card my-3"
          id="productCard"
          style="width: 24rem; padding: 8px; margin: auto"
        >
          <div
            style="
              display: flex;
              justify-content: flex-end;
              position: absolute;
              right: 0;
            "
          ></div>
          <div>
            <div class="card-body">
              <h5 class="card-title">Total Available Food Items</h5>
              <h3
                class="card-text"
                style="margin-top: 18px; margin-bottom: 24px"
              >
                <%= result[2][0].countTotalItems %>
              </h3>
              <a href="/admin/add" class="btn btn-primary">Add More Products</a>
              <a href="/admin/display" class="btn btn-primary">View Products</a>
            </div>
          </div>
        </div>
        <div
          class="card my-3"
          id="productCard"
          style="width: 24rem; padding: 8px; margin: auto"
        >
          <div
            style="
              display: flex;
              justify-content: flex-end;
              position: absolute;
              right: 0;
            "
          ></div>
          <div>
            <div class="card-body">
              <h5 class="card-title">Total Items Sold</h5>
              <h3
                style="margin-top: 18px; margin-bottom: 24px"
                class="card-text"
              >
                Sold
              </h3>
              <a href="#" class="btn btn-primary">View Statistics</a>
            </div>
          </div>
        </div>
      </div>
    </div>

    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-u1OknCvxWvY5kfmNBILK2hRnQC3Pr17a+RTT6rIHI7NnikvbZlHgTPOOmMi466C8"
      crossorigin="anonymous"
    ></script>
  </body>
</html>
